<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="Payment">
        <parameter name="browsers" value="firefox"></parameter>
        <parameter name="" value="" ></parameter>

        <classes>
            <class name="Abc.Run"/>

        </classes>
    </test>

</suite>